.about__space {
  /* padding: 180px 0px 160px 0px; */
  padding: 10% 0%;
}

.about__heading::before {
  position: relative;
  content: "0" counter(about-counter) ".";
  color: var(--green);
  margin-right: 0.5rem;
  padding-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.about__heading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  counter-increment: about-counter 1;
}

.about__heading::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 34vw;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

ul.skills__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}

ul.skills__list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: var(--slate);
  /* font-family: var(--font-mono); */
  /* font-size: var(--fz-xs); */
}

ul.skills__list li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
  /* font-size: var(--fz-sm); */
}

.about__img {
  position: relative;
  margin-top: 4rem;
}

.about__img img {
  border-radius: 5px;
}

.about__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--green);
  top: 14px;
  left: 20px;
  z-index: -1;
  border-radius: 5px;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 7rem;
  padding: 0rem 0.7rem;
  margin-top: 0.8rem;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--green);
  background-color: transparent;
  color: var(--green);
  transition: 0.4s all ease;
}
.contact__link:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

a.bottom__to__top {
  height: 38px;
  width: 38px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--green);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .p__color,
  ul.skills__list li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .about__heading::after {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .about__heading {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .about__heading::before {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 431px) {
  button.about.btn.pointer {
    text-transform: capitalize;
    width: 165px;
    height: 50px;
    font-size: 13px;
    transition: 0.4s ease;
  }
  .about__img {
    width: 98%;
  }
  .about__img::after {
    width: 98%;
  }
  img {
    width: 98%;
  }
}
