@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 5px;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--navy);
  font-family: Poppins, sans-serif;
  counter-reset: navlink-counter 1;
}
a {
  text-decoration: none;
  color: var(--lightest-slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-size: 18px;
  color: var(--lightest-slate);
}
li {
  overflow: hidden;
}
span {
  display: block;
}
p {
  font-size: 16px;
}
.white {
  color: #fff !important;
}
.black {
  color: #000 !important;
}
.d__flex {
  display: flex;
}
.align__items__center {
  align-items: center;
}
.justify__content__center {
  justify-content: center;
}
.justify__content__space__between {
  justify-content: space-between;
}
.justify__content__flex__end {
  justify-content: flex-end;
}
.mx__15 {
  margin: 0px 15px;
}
.px__30 {
  padding: 0px 30px;
}
.pxy__30 {
  padding: 30px;
}
.container {
  width: 92%;
  margin: 0 auto;
}
.pz__10 {
  padding: 10px 0px;
}
.sweet {
  color: #64ffda;
}
.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col__2 {
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col__3 {
  max-width: 33.33%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.component__space {
  padding: 45px 0px 160px 0px;
}
.pointer {
  cursor: pointer;
}
svg {
  stroke-width: 2 !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
strong {
  color: #64ffda;
  font-weight: 600;
}
input {
  color: rgba(198, 201, 216, 0.75);
}
button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--green);
  background-color: var(--green);
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
  height: 50px;
}
.p__color {
  color: var(--slate);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

.underline {
  text-decoration: solid underline var(--green) 6px;
}

button.about.btn.pointer:hover {
  background: #fff;
  color: #000 !important;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  .col__2 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .col__3 {
    max-width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  .col__3 {
    max-width: 100%;
  }
}
