.container__home {
  min-height: 87vh;
  display: flex;
  align-items: center;
}

.text__home {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;
}

.hero__content {
  padding: 15rem 0rem 25rem 10rem;
}

.hero__text__intro {
  font-size: 1rem;
  font-weight: 200;
  color: var(--green);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.name {
  display: flex;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--lightest-slate);
}

.hero__text__title {
  font-size: 3.5vw;
  font-weight: 600;
  color: var(--slate);
  letter-spacing: 1px;
}

.desc {
  width: 50%;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.project__link {
  padding: 1rem;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--green);
  background-color: transparent;
  color: var(--green);
  transition: 0.4s all ease;
}
.project__link:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}
.button.btn.contact.pointer {
  margin-top: 20px;
}

@media only screen and (max-width: 960px) {
  .desc {
    width: 60%;
  }
  .text__home {
    padding: 0 7% 5% 7%;
  }
  .hero__text__title {
    font-size: 30px;
  }
  .name {
    font-size: 30px;
  }
}

@media only screen and (max-width: 595px) {
  .desc {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .desc {
    width: 100%;
  }
  .hero__text__title {
    font-size: 27px;
    font-weight: 600;
  }
}
