.NameScramble {
  display: flex;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: 2px;
  // text-transform: uppercase;
  color: var(--lightest-slate);
  // text-decoration: solid underline #64ffda 6px;

  &__blinker {
    animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1);

    @keyframes blinker {
      to {
        opacity: 0;
      }
    }
  }
}
@media only screen and (max-width: 658px) {
  .NameScramble {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .NameScramble {
    font-size: 27px;
    font-family: "Sen", sans-serif;
    padding-bottom: 5px;
  }
}
