.parent {
  height: 7rem;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px;
  background-color: var(--navy);
}

.nav-menu {
  display: flex;
  padding-right: 15px;
  letter-spacing: 1px;
  color: var(--slate);
}

.nav__items {
  font-size: 0.9rem;
}

/* img {
  padding-top: 5px;
} */

li a {
  display: inline-block;
  /* position: relative; */
  padding: 1.5em 0;
  counter-increment: navlink-counter 1;
}

li:not(:last-child)::before {
  content: "0" counter(navlink-counter) ".";
  margin-right: 0.2rem;
  margin-left: 1rem;
  padding-right: 0.3rem;
  color: var(--green);
  font-size: 0.7rem;
}

li a:hover {
  color: var(--green);
}

.resume__link {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0rem 0.7rem;
  margin-left: 2rem;
  margin-top: 0.8rem;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--green);
  background-color: transparent;
  color: var(--green);
  transition: 0.4s all ease;
}
.resume__link:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

/* ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: var(--green);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

ul a:hover::after,
ul a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
} */

/* Scale from center */
/* ul a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

ul a:hover::after,
ul a:focus::after {
  transform: scale(1);
} */

.hamburger-react {
  display: none;
}

@media only screen and (max-width: 960px) {
  .hamburger-react {
    display: block;
    z-index: 2;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-navy);
    padding-right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
    top: 0%;
  }

  .nav-menu.active {
    right: 0;
    z-index: 1;
  }

  .nav__items a {
    padding-top: 0;
    font-size: 1.1rem;
  }

  li a {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
  }

  li:not(:last-child)::before {
    content: "0" counter(navlink-counter) ".";
    margin-right: 0.5rem;
    color: var(--green);
    font-size: 1rem;
  }

  .resume__link {
    display: inline-flex;
    justify-content: center;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
