.parent {
  height: 5rem;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 15px 45px;
  background-color: var(--navy);
}

.logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  padding-right: 15px;
  letter-spacing: 1px;
  color: var(--slate);
}

.nav__items {
  font-size: 0.9rem;
}

.counter li a {
  display: inline-block;
  padding: 1.5em 0;
  counter-increment: navlink-counter 1;
}

.counter li:not(:last-child)::before {
  content: "0" counter(navlink-counter) ".";
  margin-right: 0.2rem;
  margin-left: 1rem;
  padding-right: 0.3rem;
  color: var(--green);
  font-size: 0.7rem;
}

li a:hover {
  color: var(--green);
}

li a.resume__link {
  display: flex;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  width: 6rem;
  padding-left: 1rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--green);
  background-color: transparent;
  color: var(--green);
  transition: 0.4s all ease;
}
.resume__link:hover {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

.hamburger-react {
  display: none;
}

@media only screen and (max-width: 960px) {
  .header {
    padding: 1.5rem 20px 20px 20px;
  }

  .hamburger-react {
    display: block;
    z-index: 2;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-navy);
    padding-right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
    top: 0%;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav__items a {
    padding-top: 0;
    font-size: 1.1rem;
  }

  .nav-menu li a {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    counter-increment: navlink-counter 1;
  }

  .nav-menu li:not(:last-child)::before {
    content: "0" counter(navlink-counter) ".";
    color: var(--green);
    font-size: 1rem;
  }

  li a.resume__link {
    display: inline-flex;
    justify-content: center;
    font-size: 1rem;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
