/* h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

p.heading {
  margin-bottom: 0;
  text-align: center;
}

.project {
  background-color: var(--navy);
}

.project__img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  opacity: 0.7;
  position: relative;
}

.mask__effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--green);
  border-radius: 5px;
  transition: 0.4s;
  opacity: 0.3;
  display: none;
}

.project__box:hover .mask__effect {
  display: inline;
  transform: scale(1.1);
}
.project__box:hover img.project__img {
  transform: scale(1.1);
}

.project__meta.absolute {
  top: 0%;
  left: 0%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 100%;
}

h5.project__text {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
h4.project__text {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
a.project__btn {
  padding: 12px 35px;
  border: 2px solid #ffffff87;
  border-radius: 5px;
  transition: 0.4s ease;
}
a.project__btn:hover {
  background-color: var(--green);
  border: 2px solid var(--green);
}
button.btn {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--green);
  background-color: var(--green);
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
}
button.view__more:hover {
  background-color: #fff;
  border: 2px solid var(--green);
  color: var(--green) !important;
} */

/* RESPONSIVE */
/* @media only screen and (max-width: 1024px) {
  h5.project__text {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
  }
  h4.project__text {
    font-size: 18px;
  }
} */

/* original above, new below

/* section { */
/* margin: 0px 240px 0px 240px; */
/* padding: 100px 0px; */
/* max-width: 1000px; */
/* margin: 0px auto; */
/* margin: 0px 250px 0px 250px; */
/* padding: 180px 0px 160px 0px; */
/* max-width: 1000px; */
/* } */

.project__space {
  /* padding: 180px 0px 160px 0px; */
  /* padding: 10% 0%; */
  padding-top: 10%;
  margin: 0% 5%;
}

section {
  margin: 0px auto;
  padding: 10px 0px;
  max-width: 1000px;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  padding-top: 0.6rem;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1.3rem;
  font-weight: 500;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  counter-increment: section 2;
  margin: 10px 0px 40px;
  /* padding-left: 20px; */
  /* width: 100%; */
  font-size: 1.7rem;
  font-weight: 600;
  white-space: nowrap;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -2px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.project {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* margin: 0px 250px; */
  /* margin: 0 auto; */
  max-width: 1000px;
}

.first__project__left__column,
.third__project__left__column {
  width: 50%;
}

.first__project__right__column,
.third__project__right__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  max-width: 50%;
}

.second__project__left__column {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 50%;
  margin-top: 8rem;
  margin-bottom: 7rem;
  z-index: 1;
  /* padding: 20px; */
}

.second__project__left__tech__list {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  margin: 25px 0px 10px;
  padding: 0;
  list-style: none;
  color: var(--light-slate);
}

.second__project__left__tech__list li {
  padding-right: 1.5rem;
}

.second__project__left__project__links {
  display: inline-flex;
  justify-content: flex-start;
  color: var(--light-slate);
  font-size: 1.5rem;
}

.second__project__left__project__links a {
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.second__project__left__project__links a:hover {
  color: var(--green);
}

.second__project__right__column {
  width: 37%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  opacity: 0.5;
}

.featured__project__text {
  position: relative;
  color: var(--green);
  font-weight: 400;
  font-size: 0.9rem;
}

.project__title {
  position: relative;
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.project__description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  position: relative;
  /* z-index: 2; */
  padding: 25px;
  border-radius: 5px;
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: 1rem;
}

.tech__list {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin: 25px 0px 10px;
  padding: 0;
  list-style: none;
  color: var(--light-slate);
}

.tech__list li {
  padding-left: 1.5rem;
}

.project__links {
  display: inline-flex;
  justify-content: flex-end;
  color: var(--light-slate);
  font-size: 1.5rem;
}

.project__links a {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.project__links a:hover {
  color: var(--green);
}

@media only screen and (max-width: 830px) {
  .project {
    position: relative;
  }

  .project__description {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .first__project__left__column,
  .third__project__left__column {
    width: 100%;
  }

  .img__project {
    width: 100%;
    border-radius: 5px;
  }

  .first__project__right__column,
  .third__project__right__column {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: start;
    margin-top: 1rem;
  }

  .tech__list li {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .project__links a {
    justify-content: flex-start;
    margin-left: 0;
    padding-right: 1.5rem;
  }

  .second__project__left__column {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: start;
    margin-top: 1rem;
    order: 4;
    z-index: 0;
  }
  .second__project__right__column {
    width: 100%;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 375px) {
  .numbered-heading {
    font-size: 1.5rem;
  }
}
