.parent {
  height: 124px;
}

img {
  padding-top: 5px;
}

.nav__items {
  font-size: 18px;
}

.nav-menu {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff;
}

ul a {
  display: inline-block;
  position: relative;
  padding: 1.5em 0;
}

ul a:hover {
  color: #f9004d;
}

ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: #f9004d;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

ul a:hover::after,
ul a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Scale from center */
ul a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

ul a:hover::after,
ul a:focus::after {
  transform: scale(1);
}

.hamburger-react {
  display: none;
}

.header {
  transition: 0.4s all ease;
}

.header.active {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0px 30px;
  background-color: #010101;
}

@media only screen and (max-width: 960px) {
  .hamburger-react {
    display: block;
    z-index: 2;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    background-color: #010101;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
    top: 0%;
  }

  .nav-menu.active {
    right: 0;
    z-index: 1;
  }

  .nav__items {
    /* margin: 1.5rem 0; */
    font-size: 1.5rem;
  }
}
